[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { workspace = true }
anyhow = { workspace = true }

tun-rs = { workspace = true }
smoltcp = { workspace = true }
bytes = { workspace = true }


shared = { workspace = true }

